.vagrant
htdocs/app/cache
htdocs/app/logs
htdocs/web/bundles/*
htdocs/app/bootstrap.php.cache
htdocs/vendor
htdocs/bin
*~
htdocs/web/uploads/
.idea
htdocs/app/config/build.properties
htdocs/app/config/parameters.yml
# Codeception
htdocs/codeception.yml
htdocs/tests/acceptance/AcceptanceTester.php
htdocs/tests/functional/FunctionalTester.php
htdocs/tests/unit/UnitTester.php
htdocs/tests/_output
htdocs/tests/_support

configs/config.yml
