.idea
.vagrant
htdocs/app/bootstrap.php.cache
htdocs/app/cache
!htdocs/app/cache/.gitkeep
htdocs/app/config/build.properties
htdocs/app/config/parameters.yml
htdocs/app/logs
!htdocs/app/logs/.gitkeep
htdocs/app/phpunit.xml
htdocs/bin
htdocs/vendor
htdocs/web/bundles/*
htdocs/web/uploads/
*~

configs/config.yml
